<p>Hello <%= @resource.email %>!</p>

<% reset_password_link = "#{ENV['FRONTEND_APP_HOST']}/new_password?reset_token=#{@token}?user_id=#{@resource.id}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>