
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @resource.email %>!</p>

      <% if @resource.class == Company %>
        <% reset_password_link = "#{ENV['FRONTEND_APP_HOST']}company/settings/new-password?reset_token=#{@token}" %>
      <%else%>
        <% reset_password_link = "#{ENV['FRONTEND_APP_HOST']}user/settings/new-password?reset_token=#{@token}" %>
      <%end%>
      <%= link_to reset_password_link do %>
         <button class="new-password-button">
           Choisir un nouveau mot de passe
         </button>
      <% end %>
  </body>
</html>


